<style>
    a{
        color: #fff;
    }

    a:hover{
        text-decoration: none;
    }
</style>
<nav class="navbar navbar-inverse bg-dark">
 <div class="container-fluid">
    <div class="navbar-header">
        <a href="{{ path('home') }}" class="navbar-brand">
            <i class="fas fa-home"></i>
            Acceuil
        </a>
    </div>
     <ul class="nav navbar-nav">
         <li class="active">
             <a href="{{ path('admin.dashboard') }}">Dashboard Admin</a>
         </li>
     </ul>
     {% if  app.user %}
     <ul class="nav navbar-nav">
         <li class="active">
             <a href="{{ path('logout') }}">Deconnexion</a>
         </li>
     </ul>
     {% else %}
     <ul class="nav navbar-nav">
         <li class="active">
                 <a href="{{ path('login') }}">Connexion</a>
         </li>
      </ul>
     {% endif %}
 </div>
</nav>

{# {{ dump(app.flashes) }} #}

<div class="container alerts mt-3">
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }} alert-dismissible show">
            {% for message in messages  %}
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endfor %}
        </div>
    {% endfor %}
</div>